<a href="https://colab.research.google.com/github/regondolajezreel/CPE-103-OOP-1-A/blob/main/LabActNo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assigning variables of different data types in Python

In [8]:
value = 5
print(value)
type(value)

5

int

In [9]:
value = 5.0
print(value)
type(value)

5.0

float

In [10]:
value = 2 + 3j
print(value)
type(value)

(2+3j)

complex

In [11]:
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [12]:
value = "Hello World"
print(value)
type(value)

Hello World

str

In [13]:
value = True
print(value)
type(value)

True

bool

In [14]:
value = False
print(value)
type(value)

False

bool

In [15]:
value = [1, 2, 3, 4, 5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [16]:
value = (1, 2, 3, 4, 5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [19]:
value = {'name': 'Your Name'}
print(value)
type(value)

{'name': 'Your Name'}

dict

In [20]:
value = None
print(value)
type(value)

None

NoneType

In [22]:
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

In [24]:
value, value2 = "Hello ", 'World'
print(value + value2)

Hello World

In [25]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

In [26]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value + value2)

(1, 2, 3, 4, 5, 6)

In [43]:
value, value2 = {"name": "Royce"}, {"age": 2}
print(value, value2)

{'name': 'Royce'} {'age': 2}

In [35]:
  value, value2 = 30, 4

  print(value * value2)
  print(value2 ** 2)
  print(value2 ** 3)
  print(value * value2 + value2 ** 2 + 1)
  print(value / value2)
  print(value % value2)

120
16
64
137
7.5
2

#Receiving Input Data using Python

In [40]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))

bmi = weight / height ** 2

print("\nName: ", name)
print("Weight: ", weight)
print("Height: ", height)
print("BMI: ", round(bmi, 4))

Enter your name: John Ray
Enter your weight(kg): 60
Enter your height(m): 1.6764

Name:  John Ray
Weight:  60.0
Height:  1.6764
BMI:  21.3499

#Supplementary Activity

In [46]:
#1.	Write the Python equivalent code of the following C code:

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = 0.5 * base * height

print("The area of the triangle is: ", area)

Enter the base of the triangle: 10
Enter the height of the triangle: 10
The area of the triangle is:  50.0

In [48]:
#2.	Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32 Example of conversion:

celcius = float(input("Enter the temperature in Celcius: "))

fahrenheight = (celcius * 9/5) + 32

print("The temperature of ", celcius, " Celcius in Fahrenheit: ", fahrenheight)

Enter the temperature in Celcius: 25
The temperature of  25.0  Celcius in Fahrenheit:  77.0

In [55]:
"""
3. Write a program that can determine the distance between
two points given the coordinates using the formula: d = sqrt[(x2 - x1)^2 + (y2 - y1)^2]
"""

x1 = float(input("Enter the x1 coordinate: "))
x2 = float(input("Enter the x2 coordinate: "))
y1 = float(input("Enter the y1 coordinate: "))
y2 = float(input("Enter the y2 coordinate: "))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**(1/2)

print("The distance between the two points is: ", round(distance, 4))

Enter the x1 coordinate: 1
Enter the x2 coordinate: 3
Enter the y1 coordinate: 4
Enter the y2 coordinate: 2
The distance between the two points is:  2.8284