<a href="https://colab.research.google.com/github/regondolajezreel/CPE-103-OP-1-A/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [7]:
x = 5
y = 2
if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [5]:
#This is a comment
print("Hello World!")

Hello World!

Variable Naming Conventions

In [14]:
x =1
a, b = 0, -1
a, b, c = 0, -1, 2

#Others
d = "Sally" #This is a type of a string

print(a)
print(b)
print(c)
print(d)

0
-1
2
Sally

Casting

In [16]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type () Functions

In [17]:
x = 5
y = "john"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single Quotes'

In [19]:
y = "John"
y = 'John'

print(y)
print(Y)

'John'

Case Sensitive

In [21]:
a = 4
A = "Sally"
#A will not overwrite a

a

4

Multiple Variables

In [22]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value To Multiple Variables

In [23]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [27]:
x = "enjoying"
print("Python programming is " + x)

#Other way
X = "Python is "
Y = "enjoying"
Z = X + Y
print(Z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [37]:
x = 5
y = 3
print(x + y)

sum = x + y
print(sum)

#Exponentiation
e = x**2
e

8
8

25

Assignment Operators

In [31]:
a, b, c = 0, -1, 6
c %= 3
c

0

Logical Operators

In [33]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity Operators

In [34]:
a, b, c = 0, -1, 5
a is c

False

Bitwise Operators

In [38]:
#decimal to binary
#10 = 1010

x = 10
print(x << 1)

20

Application 1

In [12]:
#Application 1
import math

print("Area of Triangle")
base = float(input("Enter base: "))
height = float(input("Enter height: "))
area = .5 * base * height
print("Result: ", area)

print("\nArea of Circle")
radius = float(input("Enter radius: "))
pi = math.pi
area = pi * radius**2
print("Result: ", area)

print("\nArea of Trapezoid")
base1 = float(input("Enter base1: "))
base2 = float(input("Enter base2: "))
height = float(input("Enter height: "))
area = .5 * (base1 + base2) * height
print("Result: ", area)

Area of Triangle
Enter base: 10
Enter height: 15
Result:  75.0

Area of Circle
Enter radius: 4
Result:  50.26548245743669

Area of Trapezoid
Enter base1: 5
Enter base2: 7
Enter height: 10
Result:  60.0